
.editor-container h4 {
    margin-left: 40px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.editor {
    background-color: #eee;
    border: 1px solid #999;
    padding: 20px;
    width: 700px;
    box-shadow: 2px 4px 4px #888888;
}

.editor-title {
    margin-bottom: 10px;
}

.editor-title input {
    padding: 4px;
}
 
