
.tool-bar {
    margin: 10px;
    background-color: #ccc;
    padding: 5px;
}

.tool-bar li {
    display: inline;
    padding: 10px;
    color: #666;
}

.tool-bar li a {
    display: inline;
    padding: 10px;
    color: rgb(189, 27, 27);
}
