
.tool-bar {
    margin-top: 4px;
    padding: 5px;
}

.tool-bar input {
    margin-right: 4px;
    padding: 4px;
}

.tool-bar ul {
    padding: 5px;
}

.tool-bar li {
    display: inline;
}

.tool-bar li a {
    font-size: 1.2em;
    display: inline;
    padding-right: 30px;
    color: rgb(189, 27, 27);
}
