
.view-article {
    padding: 20px;
    max-width: 700px;
}

.article-edit {
    background-color: #bbb;
    padding: 10px;
    margin-bottom: 10px;
}

.edit-article {
    margin-right: 20px;
}

.title {
    font-size: 2em;
}